{% extends 'base.html.twig' %}
    {% block body %}
<hr class="mt-5" />
<div class="container">
    <div class="row pt-lg-5">
        <div class="col-md-6 offset-md-3">
            {% if validationErrors|length > 0 %}
                <div class="alert alert-danger text-center">
                    Invalid input provided
                </div>
            {% endif %}
            {% if registrationError %}
                <div class="alert alert-danger text-center">
                    {{ registrationError }}
                </div>
            {% endif %}
            <div class="bg-light mt-4 p-4">
                {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}
                <div class="col-12 mb-3">
                    {{ form_row(form.name, {'attr': {'class': 'form-control','placeholder': 'Name'}}) }}
                </div>

                <div class="col-12 mb-3">
                    {{ form_row(form.email, {'attr': {'class': 'form-control', 'type': 'email', 'placeholder': 'Email'}}) }}
                </div>

                <div class="col-12 mb-3">
                    {{ form_row(form.password, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary float-end">Register</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
