{% extends 'base.html.twig' %}

{% block title %}Make a booking!{% endblock %}

{% block body %}
    <main>
        <section class="py-5 container" id="app" data-seats="{{ availableSeats }}">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Book {{ movieTime.getMovieDate().getMovie().getTitle() }}</h1>
                </div>
            </div>
            <div class="row align-items-md-stretch">
                <div class="col shadow  bg-light rounded">
                    <div class="row pt-5 px-2 text-muted">
                        <p>
                            <strong>Showing at : </strong> {{ movieTime.getMovieDate().getMovie().getCinema().getName() }}
                        </p>
                        <p>
                            <strong>Date : </strong> {{ movieTime.getMovieDate().getDate()|date("Y-m-d") }} {{ movieTime.getTime()|date("H:i") }}
                        </p>
                        <p>
                            <strong>Available seats : </strong> {{ availableSeats }}
                        </p>
                    </div>
                    <div class="row px-2">
                        {% if error != "" %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="row px-2" v-if="tooManyTicketsSelected">
                        <div class="alert alert-danger">
                            Please select {{ availableSeats }} or less
                        </div>
                    </div>

                    <form class="py-4" action="/bookings/add/{{ movieTime.getId() }}" method="POST">
                        <div class="row mb-4">
                            <div class="col">
                                <label for="tickets" class="form-label">How many tickets would you like??</label>
                                <input type="number" v-model="userTickets" v-on:input="compareTickets()" name="tickets" class="form-control" id="tickets" placeholder="Tickets" required />
                            </div>
                        </div>
                        <div class="row px-2" >
                            <button type="submit" :disabled="tooManyTicketsSelected==true || userTickets == 0" class="btn btn-primary btn-lg btn-block">Make Booking</button>
                        </div>
                    </form>
                </div>
                <div class="col">
                    <img src="{{ movieTime.getMovieDate().getMovie().getImage() }}" class="card-img-top" alt="..." />
                </div>
            </div>
        </section>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        new Vue ({
            el: '#app',
            delimiters: ['${', '}'],
            data() {
                return {
                    showSubmit: false,
                    tooManyTicketsSelected: false,
                    userTickets: '',
                    availableSeats: 0,
                };
            },
            beforeMount: function() {
                this.availableSeats = this.$el.attributes['data-seats'].value
            },
            methods: {
                compareTickets() {
                    if (parseInt(this.userTickets) > parseInt(this.availableSeats)) {
                        this.tooManyTicketsSelected = true
                    } else {
                        this.tooManyTicketsSelected = false
                    }
                }
            }
        });
    </script>
{% endblock %}

