{% extends 'base.html.twig' %}

{% block title %}Make a booking!{% endblock %}

{% block body %}
<main>
    <section class="py-5 container" id="app">
        <br />
        <div class="pt-lg-5">
            <div v-if="cancelSuccess" class="alert text-center alert-success" v-bind:class="{'alert-danger': cancelError }" >
                Successfully cancelled booking!!
            </div>
            <table class="table">
                <thead class="table-light">
                    <th>id</th>
                    <th>Movie</th>
                    <th>Cinema</th>
                    <th>Theater</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Reference number</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                {% if bookings|length > 0 %}
                    {% for booking in bookings %}
                        <tr>
                            <td>{{ booking.getId() }}</td>
                            <td>{{ booking.getMovieTime().getMovieDate().getMovie().getTitle() }}</td>
                            <td>{{ booking.getMovieTime().getMovieDate().getMovie().getCinema().getName() }}</td>
                            <td>{{ booking.getMovieTime().getMovieDate().getMovie().getTheater().getName() }}</td>
                            <td>{{ booking.getMovieTime().getMovieDate().getDate() |date("Y-m-d") }}</td>
                            <td>{{ booking.getMovieTime().getTime() |date("H:i") }}</td>
                            <td>{{ booking.getReferenceNumber() }}</td>
                            <td>
                                {% set bookingId = booking.getId() %}
                                <a href="javascript:;" type="button" v-on:click="cancelBooking({{ bookingId }})" class="btn btn-danger">Cancel</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center">No bookings yet </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </section>
</main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        new Vue ({
            el: '#app',
            delimiters: ['${', '}'],
            data() {
                return {
                    cancelSuccess: false,
                    cancelError: false
                };
            },
            methods: {
                cancelBooking(bookingId) {
                    if (confirm("Cancel booking?")) {
                        axios.put(`/bookings/cancel/${bookingId}`).then(resp => {
                            this.cancelSuccess = true
                            setInterval(function(){
                                location.reload();
                                }, 5000);
                        }).catch(error => {
                            this.cancelError =  true
                        })
                    }
                }
            }
        });
    </script>
{% endblock %}